:root {
    --bosch-neutral: #d1e4ff; // bosch blue 90
    --bosch-warning: #ffdf95; // bosch yellow 90
    --bosch-error: #ffd9d9; // bosch error 90
    --bosch-success: #b8efc9; // bosch green 90
    --bosch-eet: #19837f;
    --bosch-red: #ED0007;
    --bosch-green: #00884a;
    --bosch-yellow: #ffcf00;
    --bosch-blue: #007bc0;
    --bosch-blue-40: #00629a;
    --bosch-blue-60: #0096e8;
    --bosch-blue-90: #d1e4ff;
    --bosch-blue-70: #56b0ff;
    --bosch-gray-20: #2e3033;
    --bosch-gray-30: #43464a;
    --bosch-gray-45: #656a6f;
    --bosch-gray-55: #7d8389;
    --bosch-gray-75: #b2b9c0;
    --bosch-gray-80: #c1c7cc;
    --bosch-gray-90: #e0e2e5;
    --bosch-gray-95: #eff1f2;
    --bosch-purple: #9e2896;
    --bosch-white: #ffffff;
    --bosch-black: #000000;
}
